/ = search_form_for @q, url: root_path do |f|
/   table.shadow.p-3.mb-5.bg-white.rounded.Regular.shadow.table.text-left.stay
/     tbody#search
/       tr
/         th
/           h6
/             | メモ検索機能
/             span#detail-search.s_right
/               button.btn.btn-outline-secondary.btn-sm.radius.not-foucas-shadow type="button" 詳細検索
/           p.gray.f-s ※検索結果は今月の収支・明細一覧に反映されます
/           .mb-3
/       tr 
/         td.s_center
/           = f.text_field :memo_cont, class: "search-form costom", placeholder: "キーワードを含むメモ検索"
/       tr
/         td
/           #icon-search.display-none
/             table.w-100
/               tr 
/                 th 収支の種類
/               tr 
/                 td.s_center
/                   .form-inline
/                     = f.check_box :icon_eq_any, { id: "q_rent_icon_eq_any", class: "margin-right-4 icon_search" }, "0",false 
/                     = f.label :rent_icon_eq_any
/                       span.icon-color-red
/                         i.fas.fa-home.fa-lg
/                 td.s_center
/                   .form-inline
/                     = check_box_tag :icon_eq_any, 2,{}, id: "rent_icon_eq_food_expenses", class: "margin-right-4 icon_search"
/                     = label_tag :food_expenses
/                       span.icon-color-yellow
/                       i.fas.fa-utensils.fa-lg
/                 td.s_center
/                   .form-inline
/                     = check_box_tag :icon_eq_any, 1,{}, id: "cost_of_living_icon_eq_any", class: "margin-right-4 icon_search"
/                     = label_tag :cost_of_living
/                       span.icon-color-lightblue
/                         i.fas.fa-faucet.fa-lg
/                 td.s_center
/                   .form-inline
/                     = check_box_tag :icon_eq_any, 3,{}, id: "entertainment_icon_eq_any", class: "margin-right-4 icon_search"
/                     = label_tag :rent
/                       span.icon-color-green
/                         i.fas.fa-shopping-cart.fa-lg 

/               tr 
/                 td.s_center
/                   .form-inline
/                     = check_box_tag :icon_eq_any, 4,{}, id: "car_cost_icon_eq_any", class: "margin-right-4 icon_search"
/                     = label_tag :rent
/                       span.icon-color-violetgreen
/                       i.fas.fa-car-side.fa-lg 
/                 td.s_center
/                   .form-inline
/                     = check_box_tag :icon_eq_any, 6,{}, id: "pay_menticon_eq_any", class: "margin-right-4 icon_search"
/                     = label_tag :pay_ment
/                       span.icon-color-gray
/                         i.fas.fa-yen-sign.fa-lg
/                 td.s_center
/                   .form-inline
/                     = check_box_tag :icon_eq_any, 5,{}, id: "insurance_icon_eq_any", class: "margin-right-4 icon_search"
/                     = label_tag :cost_of_living
/                       span.icon-color-violet
/                         i.fas.fa-hospital-user.fa-lg
/                 td.s_center
/                   .form-inline
/                     = check_box_tag :icon_eq_any, 100,{}, id: "others_icon_eq_any", class: "margin-right-4 icon_search"
/                     = label_tag :rent
/                       span.icon-color-gray
/                         i.fas.fa-question-circle.fa-lg