.main-container
  = image_tag "6.png", class: "image"
.mb-5

p.text-center ※このアプリは家計簿をつけて<br>視覚可するためのものです。
.mb-5



div.text-center = link_to '新規登録',new_user_path ,class: 'size-width btn btn-warning mb-10 w-100 c'
br
div.text-center = link_to 'ログインはこちら',sessions_path, class: "nav-link c"